<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title>Cadastro de Conta</title>
    </head>
<body>
<section layout:fragment="content">
    <div class="container mt-4">
        <h2>Criar nova conta</h2>

        <form th:action="@{/contas/criar}" th:object="${contaForm}" method="post">
            <div class="mb-3">
                <label class="form-label">Tipo de Conta</label> 
                <select th:field="*{tipo}" class="form-select">
                    <option value="CORRENTE">Conta Corrente</option>
                    <option value="CARTAO_CREDITO">Cartão de Crédito</option>
                </select>
                <div th:if="${#fields.hasErrors('tipo')}" class="text-danger" th:errors="*{tipo}" ></div>
            </div>

            <input type="hidden" name="usuarioId" th:value="${usuarioId}">

            <div class="mb-3">
                <label class="form-label">Número</label>
                <input type="text" th:field="*{numero}" class="form-control" required>
                <div th:if="${#fields.hasErrors('numero')}" class="text-danger" th:errors="*{numero}"  ></div>
            </div>
            <div class="mb-3">
                <label class="form-label">Descrição</label>
                <input type="text" th:field="*{descricao}" class="form-control" required>
                <div th:if="${#fields.hasErrors('descricao')}" class="text-danger" th:errors="*{descricao}"></div>
            </div>
            <div class="mb-3">
                <label class="form-label">Dia do Fechamento (se for Cartão)</label>
                <input type="number" th:field="*{diaDoFechamento}" >
                <div th:if="${#fields.hasErrors('diaDoFechamento')}" class="text-danger" th:errors="*{diaDoFechamento}"></div>
            </div>

            <a th:href="@{'/contas'}" class="btn btn-secondary">Cancelar</a>
            <button type="submit" class="btn btn-primary" style="background-color: #6FA285;">Salvar</button>
        </form>
    </div>
</section>
</body>
</html>