<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title>Cadastro de Correntista</title>
    </head>
<body>
    <section layout:decorate="~{layouts/layout}" layout:fragment="content">
        <div class="container">
            <h2 class="mb-4">Cadastro de Correntista</h2>

            <form th:action="@{/correntistas/novo}" th:object="${correntista}" method="post">

                <input type="hidden" th:field="*{id}" />

                <input type="hidden" th:field="*{contas}" />

                <div class="mb-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" th:field="*{nome}" class="form-control" id="nome" placeholder="Digite o nome">
                    <div th:if="${#fields.hasErrors('nome')}" class="text-danger" th:errors="*{nome}"  ></div>

                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="email" th:field="*{email}" class="form-control" id="email" placeholder="Digite o e-mail">
                    <div th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="*{email}"  ></div>
                </div>

                <div class="mb-3">
                    <label for="senha" class="form-label">Senha</label>
                    <input type="password" th:field="*{senha}" class="form-control" id="senha" placeholder="Digite a senha">
                    <div th:if="${#fields.hasErrors('senha')}" class="text-danger" th:errors="*{senha}"  ></div>
                </div>

                <div class="mb-3">
                    <label for="blocked" class="form-label">Bloquado?</label>
                    <input type="checkbox" th:checked="${correntista.blocked}" class="form-check" th:field="*{blocked}"  id="blocked" />
                    <div th:if="${#fields.hasErrors('blocked')}" class="text-danger" th:errors="*{blocked}"  ></div>
                </div>

                <button type="submit" class="btn btn-success">Cadastrar</button>
                <a href="/correntistas" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </section>
</body>

</html>